body {
    background-color:wheat;
    margin-right: 20%;
    margin-left: 20%;
    border-width: 2px;
    border-style: solid;
    border-color:darkred;
    padding-left: 10px;
    padding-right: 10px;
}

img {
  border-radius: 5%;
  width: 50%;
  height: 25%;
  border-width: 1px;
  border-style: solid;
  border-color: darkred;
  display: block;
  margin-left: 25%;
  margin-right: 25%;
}
h1 {
    text-align: center;
    color:darkred;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: darkred;
}

h2 {
    text-align: center;
    color:darkred;
}



h3 {
    text-align: center;
    color:darkred;
}

h4 {
    text-align: center;
    color:darkred;
}

h5 {
    text-align: center;
    color:darkred;
}

h6 {
    text-align: center;
    color:darkred;
}

a {
    text-align: center;
    color:darkred;
}

p {
    text-align: center;
    color:darkred;
}

#header {
    background-color:lightsalmon;
    border-width: 2px;
    border-style: solid;
    border-color:darkred;
    border-radius: 5%;
}

#navlinks {
    position: fixed;
    color:lightcoral;
}

#list {
    border-width: 1px;
    border-style: solid;
    border-color: darkred;
    padding: 15px;
    margin-left: 35%;
}

#footer {
    background-color:yellow;
    border-width: 2px;
    border-style: solid;
    border-color:black;
    border-radius: 5%;
}